.characterContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  border-radius: 4rem;
  border: solid blue;
  width: 20rem;
  margin-bottom: 4rem;
}
.card {
  color: green;
  text-shadow: 1px 1px 5px rgb(226, 19, 19);
}
.name {
  margin-top: 15px;
  color:pink;
}

