.characterContainer {
  display: flex;
  background-color: blue;
  justify-content: space-evenly;
  width: 800px;
  margin: 0 auto;
}
.card {
  color: green;
   text-shadow: 1px 1px 5px rgb(226, 19, 19);
}
/*  .author {
      .flex(none, center);
      margin-top: 15px;
      .img-container {
        padding-right: 10px;
        border-right: 1px solid @lambda-times-color-lightgrey;
        height: 40px;
        img {
          width: 40px;
        }
      }
      span {
        padding-left: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
      }
    }
  } */
